In [2]:
l=[1,2,3,4,"sudh","kumar",45.67]

In [3]:
for i in l  :
    print (i)

1
2
3
4
sudh
kumar
45.67

In [5]:
s="ashu"
for i in s:
    print(i)

a
s
h
u

In [3]:
s=7
l="Ashutosh"
for i in l:
    print(i)
else:
    print("if loop is going to complete itself then it will exceute else",s)

A
s
h
u
t
o
s
h
if loop is going to complete itself then it will exceute else 7

In [4]:
t=(4,5,6,7,8,9,"ashu")

In [5]:
t

(4, 5, 6, 7, 8, 9, 'ashu')

In [6]:
type(t)

tuple

In [7]:
d={"key1":"sudh","key2":"ashutosh"}

In [9]:
for i in d:
    print(d[i])

sudh
ashutosh

In [10]:
range(9)

range(0, 9)

In [11]:
range(3,7)

range(3, 7)

In [12]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [16]:
list(range(0,9 ,2))

[0, 2, 4, 6, 8]

In [17]:
list(range(0,7,3))

[0, 3, 6]

In [18]:
list(range(9,2,-1))

[9, 8, 7, 6, 5, 4, 3]

In [26]:
for i in range(4) :
    for j in range(0,i+1):
      print("sudh",end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [326]:
n=3
k=n
for i in range(n):
    k=k-1
    print("  "*k,end="  ")
    for j in range(0,i+1)   : 
        print("ashu",end=" ")
    print()

      ashu
    ashu ashu
  ashu ashu ashu

In [73]:
p=(4,7,8,33,45,67,78,87)

In [83]:
o=len(p)
for i in range(0,o):
    
    print(i,p[i] )

0 4
1 7
2 8
3 33
4 45
5 67
6 78
7 87

In [94]:
o=len(p)
for i in range(o-1,-1,-1):
    
    print(i,p[i] )

7 87
6 78
5 67
4 45
3 33
2 8
1 7
0 4

In [87]:
range(5,0)

range(5, 0)

In [88]:
for i in range(5,0)
 print(i)

SyntaxError: invalid syntax (Temp/ipykernel_8672/643608814.py, line 1)

In [95]:
l=["sudh","ashu","nani",12345,56,67.87,"ineorn"]

In [112]:

l2=[]
for i in range(0,len(l)):
    if((type(l[i])== int)):
        l2.append(l[i])

In [113]:
l2

[12345, 56]

In [114]:
d={1:"ashu","name":"ashu",3:"1841012140","branch":"CSE"}

In [117]:
for i in d:
    if(type(i)==int):
        print(d[i],i)

ashu 1
1841012140 3

In [138]:
count=0
s="aaaaaabbbbrrrreeya"
l=set(s)
for i in l:
    print(i,s.count(i))

e 2
r 4
b 4
a 7
y 1

In [137]:
l

{'a', 'b', 'e', 'r', 'y'}

In [177]:
t=("ashu",6,"iter",[1,2,5],(6,8,5),{"key1":"ashu","key2":"mishra",6:6})

In [178]:
for i in t:
    if(i==6):
        print(i)
    if type(i)==list or type(i)==tuple :
        for j in i:
            if(j==6 or j=="6"):
                print(j) 

    if type(i)==dict:
        for k,v in i.items():
             if(k==6 or v==6  ):
                print(k)
                print(v)

6
6
6
6

In [ ]:
#Assignment

In [198]:
#Q1
for i in range(5):
    for j in range(0,i+1):
        print("ineruon" ,end=" " )
    print("\n")

ineruon

ineruon ineruon

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

ineruon ineruon ineruon ineruon ineruon

In [241]:
#Q2
n=3
k=n
l=3
p=1
for i in range(n):
    k=k-1
    print("   "*k,end="  ")
    for j in range(i+1):
        print("Ashu",end="  ")
    print()      
for i in range(l,0,-1):
    p=p+1
    print("  "*p,end=" ")
    for j in range(i-1,0,-1):
         print("Ashu",end="  ")
    print()

        Ashu
     Ashu  Ashu
  Ashu  Ashu  Ashu
     Ashu  Ashu
       Ashu

In [308]:

l=["ineuron",2,4,[1,2,3,4,7,9],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datasci"]]

In [243]:
#q3
for i in l:
    if(type(i)==list):
        print(i)

[1, 2, 3, 4]
['ineourn', 'datasci']

In [244]:
#q4
for i in l:
    if(type(i)==dict):
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [245]:
#q5
for i in l:
    if(type(i)==tuple):
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [291]:
#q6

for i in l:
    if(type(i)==int):
        print(i)
    if(type(i)==dict):
        for k,v in i.items():
                if(type(k)==int):  print(k)
                if(type(v)==int):  print(v)

2
4
3
6
7
8

In [292]:
#q7
sum1=0
sum2=0
sum3=0
for i in l:
    if(type(i)==int):
        sum1=sum1+i
    if(type(i)==dict):
        for k,v in i.items():
                if(type(k)==int):  sum2=sum2+k
                if(type(v)==int):  sum3=sum3+v
print(sum1+sum2+sum3)

30

In [297]:
#q8
for i in l:
    if(type(i)==list):
        for j in i:
            if(type(j)==int and j%2!=0):
                print(j)

1
3
7
9

In [313]:
#q9

for i in l:
    if(i=="ineuron"):
         print(i)
    if(type(i)==list or type(i)==tuple ):
        for j in i:
            if(j=="ineuron"):
                print(j)
    if(type(i)==dict):
        for k,v in i.items():
            if(k=="ineuron"):
                print(k)
            if(v=="ineuron"):
                print(v)

ineuron
ineuron
ineuron

In [328]:
count=0

j=set(l)
for i in j:
    print(i,l.count(i))

TypeError: unhashable type: 'list'